html {
  font-family: "Montserrat", sans-serif;
}

/* header */
.container header {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #fff;
  z-index: 999;
}

.container .header-wrapper {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  padding: 0 2vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container .header-wrapper .header-menu {
  display: flex;
}
.container .header-wrapper .header-menu li a {
  color: #444444;
  padding: 22px 15px;
  font-size: 1.1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}
.container .header-wrapper .header-menu li a:hover {
  background-color: lightskyblue;
  color: white;
}
.container header .header-wrapper img {
  height: 70px;
}
.container header .header-wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** main ***/
/* fixed */
.container main .up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
}
.container main .up:hover {
  color: black;
  background-color: white;
}
.container main .kakao {
  border-radius: 40px;
  border: 1px solid #ddd;
  width: 104px;
  height: 44px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  background-color: white;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}
.container main .kakao svg {
  float: left;
  width: 44px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid#ddd;
}
.container main .kakao p {
  font-size: 16px;
  line-height: 40px;
  text-indent: 3px;
  font-weight: 700;
}

/* creative */
.container main .creative {
  width: 100%;
  background: rgb(201, 220, 220) url(./images/hero-bg.png) no-repeat center
    center / cover;
  height: 100vh;
  display: flex;
  justify-items: center;
  flex-flow: column;
  align-items: center;
  flex-wrap: wrap;
}

.container main .creative h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 1.5rem;
  letter-spacing: 6px;
  color: rgba(0, 0, 0, 0.5);
}
.container main .creative .cr-center {
  display: flex;
  max-width: 1600px;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.container main .creative .cr-center .cr-left {
  width: 500px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 72px;
  letter-spacing: 1px;
  display: flex;
  color: #212529;
  flex-flow: column;
  justify-items: center;
}
.container main .creative .cr-center .cr-left span {
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 20px;
}
.container main .creative .cr-center .cr-left span:hover {
  color: white;
  background-color: black;
}
.container main .creative .cr-center .cr-right .cr-img {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}
.container main .creative .cr-center .cr-right .cr-img img {
  width: 770px;
  margin: 0 auto;
}
.container main .creative .cr-center .cr-right .cr-num {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #8a7c7c;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}
.container main .creative .cr-center .cr-right .cr-num p {
  margin-right: 5px;
}
.container main .creative .cr-center .cr-right .cr-num p:first-child {
  position: relative;
  margin-right: 30px;
  color: black;
}
.container main .creative .cr-center .cr-right .cr-num p:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(40%);
  width: 25px;
  height: 2px;
  background-color: black;
}

/* brand */
.container main .brand {
  font-family: "Noto Sans KR", sans-serif;
  color: #212529;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  font-size: 18px;
}
.container main .brand ul {
  max-width: 1420px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container main .brand ul li {
  width: 50%;
  padding: 3rem;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  opacity: 0.9;
}
.container main .brand ul li:nth-child(even) {
  border-right: none;
}
.container main .brand ul li:nth-child(3) {
  border-bottom: none;
}
.container main .brand ul li:nth-child(4) {
  border-bottom: none;
}
.container main .brand ul li strong {
  opacity: 1;
  text-transform: capitalize;
  display: block;
  margin-bottom: 18px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

/* picture */
.container main .picture ul {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}
.container main .picture ul li {
  position: relative;
}
.container main .picture ul li img {
  width: 100%;
}
.container main .picture ul li:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.container main .picture ul li:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/3;
}
.container main .picture ul li:nth-child(5) {
  grid-column: 3/5;
  grid-row: 3/4;
}
.container main .picture ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}
.container main .picture ul li span a {
  position: absolute;
  transition: 0.5s;
  top: 50%;
}
.container main .picture ul li:hover span {
  opacity: 0.65;
}
.container main .picture ul li span a:hover {
  color: rgb(0, 183, 255);
  opacity: 1;
}

/* business */
.container main .business {
  padding: 144px 50px;
  width: 100%;
  color: #212529;
}
.container main .business .busy-txt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container main .business .busy-txt h1 {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}
.container main .business .busy-txt h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 24px auto;
  background-color: black;
}
.container main .business .busy-txt p {
  text-align: center;
  line-height: 1.8;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.container main .business .busy-img {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container main .business .busy-img .img {
  position: relative;
  margin: 10px;
  width: 40%;
}
.container main .business .busy-img .img span {
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
}
.container main .business .busy-img .img:hover span {
  opacity: 1;
}
.container main .business .busy-img .img:hover span:hover {
  color: white;
  background-color: black;
}
.container main .business .busy-img .img .back {
  position: absolute;
  top: 40%;
  left: 10px;

  transform: translateY(-50%) rotate(180deg);
}

.container main .business .busy-img .img-txt {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 18px;
}
.container main .business .busy-img .img-txt h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.container main .business .busy-img .img-txt p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}
.container main .business img {
  width: 100%;
}

/* youtube */
.container main .youtube-wrapper {
  padding: 144px;
  background-color: #f8f9fa;
  color: #212529;
  display: flex;
  flex-wrap: wrap;
}
.container main .youtube-wrapper .youtube-txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container main .youtube-wrapper .youtube-txt h1 {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0 6px;
  width: 40%;
  margin-bottom: 124px;
}
.container main .youtube-wrapper .youtube-txt p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 18px;
  line-height: 1.5;
  width: 50%;
}
.container main .youtube-wrapper .youtube {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* service */
.container main .service {
  padding: 124px 0;
  position: relative;
  overflow: hidden;
}
.container main .service img {
  width: 100%;
}
.container main .service h1 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #212529;
}
.container main .service h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 3rem auto;
  background-color: black;
  margin-bottom: 5rem;
}
.container main .service .list-box {
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.container main .service .list-box .list-txt {
  padding: 24px;
  color: #212529;
}
.container main .service .list-box .list-txt h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 6px;
  line-height: 1.5;
  width: 100%;
}
.container main .service .list-box .list-txt p {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.8;
  overflow: hidden;
  color: #212529;
  font-size: 16px;
}
.container main .service .list-box .list {
  margin: 30px;
  opacity: 0.5;
  height: 90%;
  width: 90%;
}

.container main .service .list-box .list3 {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  opacity: 1;
  height: 100%;
  width: 100%;
}

.container main .service .circle {
  width: 100%;
  display: block;
}

.container main .service .circle ul {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.container main .service .circle ul li {
  background-color: lightskyblue;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.container main .service .circle ul li:nth-child(3) {
  background-color: rgb(5, 64, 255);
}
.container main .service .circle ul li:hover {
  background-color: rgb(5, 64, 255);
}

/* spon */
.container main .spon {
  padding: 144px;
  width: 100%;
  background-color: #f8f9fa;
}
.container main .spon img {
  opacity: 0.5;
  width: 100%;
  transition: 0.3s;
}
.container main .spon img:hover {
  opacity: 1;
}
.container main .spon ul {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  gap: 30px;
}

/* location */
.container main .location {
  width: 100%;
  padding: 144px 0;
  max-width: 1350px;
  margin: 0 auto;
}
.container main .location h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}
.container main .location .loc-txt {
  display: flex;
  justify-content: center;
}
.container main .location .loc-txt li {
  width: 50%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding: 8px 16px;
  text-transform: uppercase;
  margin: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.container main .location .loc-txt li:first-child {
  border-bottom: 3px solid black;
}
.container main .location .map {
  display: block;
  width: 100%;
  height: 20vw;
  margin: 40px auto;
}
.container main .location ul li {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 21px;
  display: flex;
}
.container main .location ul li:last-child {
  border-bottom: 1px solid #000;
}
.container main .location ul li h3 {
  font-weight: 600;
  width: 150px;
}
/* talk */
.container main .talk {
  padding: 144px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(
      rgba(105, 169, 197, 0.8),
      rgba(105, 169, 197, 0.9)
    ),
    url("./images/img-bg.jpg") fixed center center / cover;
  color: #eee;
  font-family: "Montserrat", sans-serif;
}

.container main .talk h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 18px;
}
.container main .talk p {
  width: 90%;
  margin: auto;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 18px;
  font-weight: 300;
  text-align: center;
}
.container main .talk a {
  font-family: "Noto Sans KR", sans-serif;
  padding: 9px 32px;
  border: 3px solid #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 24px;
  line-height: 34px;
  letter-spacing: 2px;
  transition: 0.3s;
}
.container main .talk a:hover {
  background-color: white;
  color: black;
}

/* dyami */
.container main .dyami {
  width: 100%;
  margin: 0 auto;
  padding: 80px;
  color: #212529;
  background-color: #f7f7f7;
}
.container main .dyami img {
  margin-bottom: 40px;
}
.container main .dyami .widget {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}
.container main .dyami .widget h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 25px;
}
.container main .dyami .widget p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.container main .dyami .widget ul {
  display: flex;
}
.container main .dyami .widget ul li {
  width: 14px;
  margin: 10px;
  overflow: hidden;
}
.container main .dyami .widget ul li svg {
  transition: 0.3s;
}
.container main .dyami .widget ul li:hover svg {
  transform: translateY(-140%);
}
.container main .dyami .widget ul li .youtube2 {
  transition: 0.3s;
  opacity: 0;
}
.container main .dyami .widget ul li .vimeo2 {
  opacity: 0;
  transition: 0.3s;
}
.container main .dyami .widget ul li .apple2 {
  opacity: 0;
  transition: 0.3s;
}
.container main .dyami .widget ul li .facebook2 {
  opacity: 0;
  transition: 0.3s;
}
.container main .dyami .widget ul li .insta2 {
  opacity: 0;
  transition: 0.3s;
}
.container main .dyami .widget ul li:hover .youtube2 {
  opacity: 1;
  fill: red;
}
.container main .dyami .widget ul li:hover .vimeo2 {
  opacity: 1;
  fill: violet;
}
.container main .dyami .widget ul li:hover .apple2 {
  opacity: 1;
  fill: #978484;
}
.container main .dyami .widget ul li:hover .facebook2 {
  opacity: 1;
  fill: blue;
}
.container main .dyami .widget ul li:hover .insta2 {
  opacity: 1;
  fill: #e91eb6;
}

/* footer */
.container footer {
  color: #212529;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0 40px;
  height: 150px;
}
.container footer p:last-child {
  color: #333333;
}
