@charset "utf-8";

/* header */
header {
  color: white;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a8a2a2;
  height: 10vh;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}
header .logo1 {
  width: 20%;
  display: block;
  padding: 15px;
  padding-left: 30px;
  flex-wrap: wrap;
}
header .logo1 img {
  max-width: 200px;
}
header .logo1 p {
  width: 100%;
  font-size: 16px;
  color: rgb(85, 85, 85);
  padding-left: 10px;
  letter-spacing: 35px;
  color: white;
}
header .menu1 {
  width: 60%;
  font-weight: 700;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu1 menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
header .menu1 menu li a {
  padding: 36px 22px;
  transition: 0.3s;
}
header .menu1 menu li a:hover {
  color: orange;
}
header .login {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 15%;
  display: flex;
  align-items: center;
}
header .login ul li a {
  font-size: 13px;
  transition: 0.3s;
}
header .login ul {
  display: flex;
}
header .login ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .login ul li:nth-child(1)::after {
  content: "/";
  font-size: 13px;
  padding: 10px;
}
header .login ul li a:hover {
  color: orange;
}
header .menu2 {
  transition: 0.3s;
  display: flex;
  width: 5%;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: 0.3s;
}
header .menu2:hover {
  color: orange;
}
header .menu2 span {
  float: right;
  font-size: 50px;
}

/* main img */
main .img {
  width: 100%;
  height: 100vh;
}
main .img img {
  width: 100%;
  height: 100vh;
  position: relative;
}
main .img .img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
main .img .img-text h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 30px;
}
main .img .img-text p {
  font-weight: 400;
  font-size: 19px;
}
main .img .arrow {
  z-index: 1;
  text-align: center;
  display: flex;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 100px;
  color: white;
  align-items: center;
  justify-content: center;
}
main .img .arrow span {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  padding: 4px;
  cursor: pointer;
}
main .img .arrow span:hover {
  color: skyblue;
}
main .img .arrow svg {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
main .img .arrow span {
  margin-left: 7px;
}
main .img .arrow svg path {
  fill: rgba(255, 255, 255, 0.5);
}
main .img .arrow svg:nth-child(3) path {
  fill: white;
}
main .widget {
  position: fixed;
  top: 40%;
  right: 15px;
  z-index: 100;
}
main .widget li a {
  transition: 0.3s;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 50%;
  background-color: white;
}
main .widget li a:hover path {
  fill: white;
}
main .widget li:first-child a:hover {
  background-color: #2db400;
}
main .widget li:nth-child(2) a:hover {
  background-color: #f7e600;
}
main .widget li:nth-child(3) a:hover {
  background-color: #fc1c75;
}
main .widget li:last-child a:hover {
  background-color: #c4302b;
}
main .open {
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 37px;
  height: 90px;
  z-index: 9999;
}
main .open .open-txt a {
  background-color: #000;
  writing-mode: tb-rl;
  position: absolute;
  display: flex;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  z-index: 999999;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 6px;
  margin-left: -5px;
  letter-spacing: 2px;
  font-size: 12px;
}
main .open .open-txt a:hover {
  background-color: orange;
  color: black;
}
/*** contents ***/
/* value */
main .value {
  background-color: #f5f5f5;
  width: 100%;
  height: 800px;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  padding: 120px 30px;
}
main .value h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(1, 54, 122);
  font-weight: 700;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

main .value h3 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 60px;
}
main .value ul {
  display: flex;
  justify-content: center;
}
main .value ul li a {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #fff;
  margin: 10px;
  transition: 0.3s;
}
main .value ul li .more {
  transition: 0.3;
  font-size: 13px;
  display: inline-block;
  border-bottom: 1px solid #666;
  padding: 0;
  margin: 0 auto;
  font-weight: 600;
  color: #666;
  line-height: 1.48;
  text-transform: uppercase;
}
main .value ul li a:hover {
  background-color: skyblue;
  color: black;
}
main .value ul li a:hover .value-main {
  color: black;
}
main .value ul li a:hover .more {
  color: black;
  border-bottom: 2px solid orange;
}
main .value ul li .icon {
  padding: 40px 0 20px 0;
  font-size: 60px;
  color: #3d6aa6;
}
main .value ul li h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 0 0 25px 0;
}
main .value ul li .value-main {
  font-size: 16px;
  margin: 0 auto;
  color: #666666;
  font-weight: 400;
  padding-bottom: 25px;
  line-height: 1.48;
}

/* product */

main .product {
  background-color: #ffffff;
  width: 100%;
  height: 800px;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  padding: 120px 100px;
}

main .product .product-con .product-list {
  display: flex;
  justify-content: center;
}
main .product .product-con .product-list li {
  background-color: #fff;
  justify-content: center;
  width: 550px;
  margin-right: 30px;
}

main .product .product-con .product-list li img {
  object-fit: cover;
  object-position: 0, 0;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

main .product .product-con .product-list li h5 {
  font-size: 24px;
  margin-bottom: 20px;
}
main .product .product-con .product-list li p {
  font-size: 16px;
  color: #666;
}

/* download */

.download {
  width: 100%;
  height: 300px;
  background: url(images/down.jpg) no-repeat 0 40% / cover;
  color: white;
  text-align: center;
}
.download .down-info {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  position: relative;
}
.download .down-info p {
  font-size: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.download .down-info .down-btn {
  display: flex;
  margin: 0 auto;
  display: inline-block;
  border-radius: 30px;
  background-color: #2b89da;
  padding: 10px 30px;
  transition: 0.3s;
}
.download .down-info .down-btn span {
  margin-left: 5px;
  vertical-align: bottom;
}
.download .down-info .down-btn:hover {
  background-color: #f5430c;
  border-radius: 10px;
}
/* partner */

.partner {
  text-align: center;
  width: 100%;
  height: 650px;
  background-color: #f5f5f5;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  padding: 120px 100px;
}
.partner .partner-wrapper {
  width: 100%;
  padding: 0 20px;
  max-width: 100%;
}
.partner .partner-wrapper .partner-img {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.partner .partner-wrapper .partner-img li {
  width: 22%;
  display: flex;
  margin: 1% 1%;
}
.partner .partner-wrapper .partner-img li a {
  width: 100%;
  height: 100px;
  padding: 25px 0;
  background-color: #fff;
  position: relative;
  transition: 0.3s;
}
.partner .partner-wrapper .partner-img li a:hover {
  background-color: skyblue;
}
.partner .partner-wrapper .partner-img li a img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partner .partner-wrapper .partner-img li:first-child img {
  width: 30%;
}
.partner .partner-wrapper .partner-img li:nth-child(5) img {
  width: 30%;
}
/* help */
.help {
  text-align: center;
  width: 100%;
  height: 750px;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  display: flex;
}
.help .map {
  width: 50%;
  height: 100%;
}
.help .support {
  width: 50%;
  height: 100%;
  background-color: #2a3b43;
  padding: 100px;
  text-align: left;
  color: white;
}
.help .support h2 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
}
.help .support p {
  font-weight: 400;
  padding-bottom: 40px;
}
.help .support-main table {
  width: 100%;
}
.help .support-main table tbody tr .support-name {
  width: 10%;
}
.help .support-main table tbody tr .support-box {
  padding: 6px;
}
.help .support-main table tbody tr .support-box .box-area {
  padding: 15px;
  width: 95%;
  background-color: #7a858b;
  font-size: 16px;
  outline: none;
  border: 0;
}

.help .support-main table tbody tr .support-box .box-area-big {
  padding: 15px;
  width: 95%;
  background-color: #7a858b;
  font-size: 16px;
  outline: none;
  border: 0;
  height: 200px;
}

.help .support-main .go a {
  margin: 25px auto;
  display: flex;
  width: 150px;
  height: 50px;
  background-color: #2b89da;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.help .support-main .go a:hover {
  border-radius: 10px;
  background-color: #f5430c;
  color: white;
}
/* notice */

.notice {
  width: 100%;
  height: 450px;
  text-transform: capitalize;
  padding: 80px 0;
}
.notice .notice-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1280px;
  flex-wrap: wrap;
  margin: auto;
}
.notice .notice-wrapper .notice-left {
  width: 30%;
}
.notice .notice-wrapper .notice-left h2 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
}
.notice .notice-wrapper .notice-left p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 40px;
  color: #666;
}
.notice .notice-wrapper .notice-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 44px;
  background-color: #294c8b;
  font-size: 17px;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  color: white;
  transition: 0.3s;
}
.notice .notice-wrapper .notice-left a:hover {
  background-color: #f5430c;
  border-radius: 10px;
}
.notice .notice-wrapper .notice-left span {
  margin-left: 10px;
  font-size: 17px;
}
.notice .notice-wrapper .notice-right {
  font-size: 19px;
  font-weight: 400;
  width: 70%;
}
.notice .notice-wrapper .notice-right ul li {
  list-style: disc inside;
  padding: 30px 15px;
  border-bottom: 1px solid black;
}
.notice .notice-wrapper .notice-right ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #999;
  text-underline-offset: 5px;
}

.date {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #666;
  float: right;
}
/* footer */

footer {
  background-color: #1e1e1e;
  color: #999;
  padding: 40px 70px;
  line-height: 1.78;
}
footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
footer .footer-wrapper .footer-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
}
footer .footer-wrapper .footer-left .ft-logo {
  width: 30%;
}
footer .footer-wrapper .footer-left .ft-logo img {
  width: 250px;
}
footer .footer-wrapper .footer-left .ft-info {
  display: flex;
  width: 70%;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-wrapper .footer-left .ft-info ul {
  display: flex;
}
footer .footer-wrapper .footer-left .ft-info .top-info {
  width: 40%;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-wrapper .footer-left .ft-info .top-info li a {
  color: #ccc;
  padding-right: 10px;
  font-size: 15px;
}
footer .footer-wrapper .footer-left .ft-info .top-info li:first-child a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 13px;
  background-color: #666;
}
footer .footer-wrapper .footer-left .ft-info .btm-info {
  width: 100%;
  padding-top: 15px;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
footer .footer-wrapper .footer-left .ft-info .btm-info li {
  padding-right: 40px;
}

footer .footer-wrapper .footer-right {
  width: 30%;
  text-align: right;
}
footer .footer-wrapper .footer-right .ft-select {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .footer-wrapper .footer-right .ft-select select {
  cursor: pointer;
  background-color: #333;
  border: none;
  padding: 8px 15px;
  font-size: 15px;
  color: #ccc;
  align-items: flex-end;
  text-transform: capitalize;
  width: 250px;
}
